:root {
  --primary: #0078D7;
  --primary-hover: #0063B1;
  --secondary: #505050;
  --secondary-hover: #404040;
  --tertiary: #888888;
  --tertiary-hover: #777777;
  --danger: #d9534f;
  --danger-hover: #c9302c;
  --success: #5cb85c;
  --success-hover: #4cae4c;
  --warning: #f0ad4e;
  --warning-hover: #ec971f;
  --info: #5bc0de;
  --info-hover: #31b0d5;
  --light: #f8f9fa;
  --light-hover: #e2e6ea;
  --dark: #343a40;
  --dark-hover: #23272b;
  --white: #ffffff;
  --black: #000000;
}
